<!-- <app-filter class="container"></app-filter>
<p>{{searched}}</p>
<div class="product-list d-flex flex-wrap justify-content-center" style="background-color: #e0f9f6;">
    <ng-container *ngFor="let productVariation of groupByProductIdAndColor" >
            <ng-container *ngFor="let product of productVariation">
                <ng-container *ngFor="let productWithSameColor of product">
                    <app-product (click) = "selectedProduct = productVariation; showProductDetails = true"
                    [productWithSameColor]="productWithSameColor"
                    *ngIf="searched === '' || productVariation.product.name">
                </app-product>
                </ng-container>
        </ng-container>
    </ng-container>
</div> -->

<app-filter class="container"></app-filter>
<p>{{searched}}</p>
<div class="product-list d-flex flex-wrap justify-content-center" style="background-color: #e0f9f6;">
    <ng-container *ngFor="let productVariation of productVariations" >
            <app-product (click) = "selectedProduct = productVariation; showProductDetails = true"
                 [productVariation]="productVariation"
                *ngIf="searched === '' || productVariation.product.name">
            </app-product>
    </ng-container>
</div>